*{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
}
body{
    background-color: var(--background-color);
}
/* Variables */
:root{
    --background-color: #094f6e;
    --main-color: #96c7d5;
    --black-color: #022534;
    --medium-color: #2d7a9c;
    --white-color: #e4f5ff;
    --titles: 20px;
    --sub-titles: 15px;
    --font: 12px;
}

/* Header */

header{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--black-color);
}
header div{
    display: flex;
}
header div div{
    margin: 5px;
}

/* NAV CAT */
.categories{
    height: 30px;
    overflow: auto;
    display: flex;
    background-color: var(--medium-color);
}
.categories p{
    padding: 5px;
    border-right: 1px #e4f5ff solid;
    width: auto;
}