*{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
}
body{
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 20px;
    height: 20px;
}
.inactive{
    display: none;
}
/* Variables */
:root{
    --background-color: #094f6e;
    --main-color: #96c7d5;
    --black-color: #022534;
    --medium-color: #2d7a9c;
    --white-color: #e4f5ff;
    --titles: 24px;
    --sub-titles: 15px;
    --font: 12px;
}
/* header */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px var(--main-color) solid;
}
header div:first-child{
    align-self: center;
    font-size: x-large;
    font-weight: 700;
}

/* nav */
.nav{
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.nav div:first-child{
    width: 100%;
}
.nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 49.35%;
    border: 3px solid var(--medium-color);
    margin: 1px;
    border-radius: 5px;
}
.nav div img{
    margin: 5px;
}
.nav div p{
    width: auto;
}

/* Profile */

.userProfile{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0 10px 0px;
    padding-left: 30px;
    width: 100%;
}
.userProfile p{
    padding-left: 10px;
}
.userProfile p:nth-child(2){
    padding-left: 15px;
}
.userProfile p:first-child{
    font-size: var(--titles);
    font-weight: 700;
    opacity: 1;
}
.userProfile p{
    font-size: var(--sub-titles);
    opacity: .4;
}
.userProfile img{
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

/* main */

main{
    margin-top: 20px;
}

/* editProfile */

.menuFunction{
    position: fixed;
    top: 20%;
    width: 300px;
    height: auto;
    left: calc(50% - 150px);
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
}
.menuFunction h4{
    background-color: var(--black-color);
    padding: 10px;
    position: relative;
}
.menuFunction h4 span img{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 32px;
    height: 32px;
}
.menuFunction ul li {
    color: var(--black-color); 
    list-style: none;
    padding: 10px 0 0 10px;
}
.menuFunction ul li span{
    color: var(--black-color);
    font-size: 10px;
    opacity: 0.6;
}
.menuFunction-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.menuFunction-form input{
    color: var(--black-color);
    border: none;
    border-bottom: 1px solid var(--black-color);
    padding: 3px;
    margin-right: 10px;
    background-color: transparent;
    outline: 0;
    margin-bottom: 40px;
}
.menuFunction-form button{
    border: 1px solid var(--black-color);
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 0 10px 0 10px;
    margin-bottom: 40px;
}

/* Category Menu */
.formCat{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 30px;
    padding-right: 10px;
}

.formCat li input{
    color: var(--black-color);
    border: none;
    border-bottom: 1px solid var(--black-color);
    padding: 3px;
    margin-right: 10px;
    background-color: transparent;
    outline: 0;
    width: 185px;
}
.createCat{
    position: relative;
    right: -225px;
    top: 16px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 3px 13px 3px 13px;
    margin-bottom: 50px;
}